#!/bin/sh

# A pre-commit script to build new docker app image before commit changes.
# Place this script at {workspace}/.git/hooks/pre-commit
set -e

npm run test
docker build --rm -t node-express:latest .
echo 'Docker image build with tag node-express:latest'